name: image_similarity_analyzer
description: "A Flutter plugin to analyze similarity between images using native iOS code."
version: 0.0.1
homepage: https://github.com/aaidarbekov132/image_similarity_analyzer.git

environment:
  sdk: ">=3.9.2 <4.0.0"
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      ios:
        pluginClass: ImageSimilarityAnalyzerPlugin
