<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- API 32 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- API 33+ (Android 13) -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />

</manifest>
